<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container-fluid text-center">
    <section id="calendar" class="container-xl">
        <h1>오늘 한 일</h1>

        <header class="py-2 d-flex justify-content-center">
            <div class="d-flex w-100 justify-content-center">
                <button id="btn-pre" type="button" class="px-3 border-white rounded-pill">&lt;</button>
                <h2 id="today" class="mx-3">{날짜}</h2>
                <button id="btn-next" type="button" class="px-3 border-white rounded-pill">&gt;</button>
            </div>
            <button id="btn-today" type="button" class="px-3 ms-auto border-white rounded-pill ">Today</button>
        </header>

        <div id="calendar-body" class="bg-white p-3">
            <table class="w-100 table table-sm table-bordered border-5">
                <thead>
                <tr class="custom-tr table-secondary">
                    <th>일</th>
                    <th>월</th>
                    <th>화</th>
                    <th>수</th>
                    <th>목</th>
                    <th>금</th>
                    <th>토</th>
                </tr>
                </thead>
                <tbody>
                <tr id="tr0"></tr>
                <tr id="tr1"></tr>
                <tr id="tr2"></tr>
                <tr id="tr3"></tr>
                <tr id="tr4"></tr>
                <tr id="tr5"></tr>
                </tbody>
            </table>
        </div>
    </section>
    <script src="/js/calendar.js"></script>
</div>
</html>