<!-- 일정 한단락 예시용 코드 -->

<article class="list-group-item d-flex py-1">
    <div class="col-11">
        <textarea rows="2"readonly></textarea>
        <div class="bg-group d-flex gap-1 justify-content-start align-items-center">
            <span class="badge text-bg-primary rounded-pill">test</span>
            <span class="badge text-bg-primary rounded-pill">test</span>
            <span class="badge text-bg-primary rounded-pill">test</span>
            <button
                    class="btn btn-sm btn-outline-secondary rounded-pill ms-auto me-2">수정</button>
        </div>
    </div>

    <div id="btn-gr-1" class="ms-auto btn-group-vertical btn-group-sm">
        <button class="btn btn-outline-white">🔺</button>
        <button class="btn btn-outline-white">❌</button>
        <button class="btn btn-outline-white">🔻</button>
    </div>
</article>
